body 
  
  #active {
    background-color: white;
    color: steelblue;
  }
  nav {
    padding: 10px;
    text-align: center;
  }
  a {
    color: white;
    margin: 40px;
    font-size: 1.5em;
  }
  h1 {
    color: steelblue;
    text-align: center;
  }
  img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  
  p {
    width: 80%;
  }
  .main-para {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  nav, footer {
    background-color: steelblue;
    color: white;
  }
  footer p {
    font-size: 20px;
    margin: 20px auto;
}
  a:hover {
  background-color: white;
  color: steelblue; 
  }